<div class="container">
  <h1>Our Restaurants</h1>
  <%= link_to 'Add a Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <% @restaurants.each do |restaurant| %>
    <div class="card card-body">
      <h5 class="card-title">
        <%= restaurant.name %>
      </h5>
      <p class="card-text">
        <%= restaurant.category.capitalize %>
      </p>
      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>